.inputTextEncuestador{
    width: 100px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputTextEncuestador2{
    width: 100px;
    margin-left: 12%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputTextEncuestador3{
    width: 100px;
    margin-left: 4%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputTextEncuestador4{
    width: 100px;
    margin-left: 7.3%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.textboxE{
    margin-left: 60px;
}

.textboxDni{
    margin-left: 80px;
}

.textboxDni2{
    margin-left: 60px;
}

.inputTextA{
    width: 80px;
    margin-left: 19.3%;
    margin-bottom: 20px;
}

.inputTextA2{
    width: 80px;
    margin-left: 8%;
    margin-bottom: 20px;
}

.inputTextA3{
    width: 80px;
    margin-left: 0.2%;
    margin-bottom: 20px;
}

.inputTextA4{
    width: 80px;
    margin-left: 3.5%;
    margin-bottom: 20px;
}

.inputTextDni{
    width: 80px;
    margin-left: 16%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.textboxAgregar{
    margin-left: 80px;
}

.textboxAgregar2{
    margin-left: 80px;
}

.textboxAgregar3{
    margin-left: 80px;
}

.textboxAgregar4{
    margin-left: 80px;
}

.inputTextSupervisor{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    margin-left: 15%;
}

.inputTextSupervisor2{
    margin-bottom: 20px;
    width: 120px;
    margin-left: 7.2%;
}

.inputTextSupervisor3{
    width: 120px;
    
}

.inputTextCargo{
    width: 80px;
    margin-left: 17%;
    margin-bottom: 20px;
}

.inputTextCargo2{
    width: 80px;
    margin-left: 9%;
    margin-bottom: 20px;
}

.inputTextCargo3{
    width: 80px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.inputTextMod{
    width: 80px;
    margin-bottom: 20px;
    margin-left: 12%;
}

.inputTextDniCargo{
    width: 80px;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.inputTextDniMod{
    width: 80px;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.inputTextMod2{
    width: 80px;
    margin-left: 4%;
    margin-bottom: 20px;
}

.inputTextMod3{
    width: 80px;
    margin-left: 15%;
    margin-bottom: 20px;
}