* {
    margin:0;
    padding:0 ;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(149, 149, 149);
}

select {
    border-radius: 6px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select option {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

#form {
    background-color: white;
    width: 30%;
    height: 35%;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 10px 10px 5px #00000045;
    margin: 150px auto;
    }

#form:hover {
    transform: translateY(-5px);
    transition: .5s;
}

    input {
        width: 98%;
        border-radius: 5px;
        height: 25px;
        font-size: large;
        margin-top: 5px;
    }

h3 {
    text-align: center;
    color: #000;
}


.btn {
    color: #000;
    width: 70%;
    height: 40px;
    margin-bottom: -30px;
    position: relative;
    margin-left: 50px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15%;
    background:transparent;
    background-color: #2C2F35;
}

.logo{
    color: #fff;
    font-size: 29px;
    font-weight: 700;
}

.log{
    height: 80px;
    vertical-align: middle;
}

.navbar{
    display: flex;
    margin-right: 380px;
}

.navbar a{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    margin: 0 5px;
    color: #f5f5f5;
    transition: all .45s ease;
    border-radius: 5px;
}

.navbar a:hover{
    background: #04BD7D;
}

#menu-icon{
    font-size: 30px;
    z-index: 10001;
    color: #fff;
    cursor: pointer;
    display: none;
}

.header-btn a{
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.header-btn .login{
    background: #04BD7D;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

.header-btn .login:hover{
    border: 2px solid #04BD7D;
    background: transparent;
}

@media (max-width: 1530px){
    header{
        padding: 18px 3%;
        transition: .2s;
    }
}


@media (max-width: 1070px){
    header{
        padding: 12px 3%;
        transition: .2s;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #2C2F35;
        transition: all .50s ease;
        text-align: left;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }
    .navbar.open{
        top: 100%;
    }
}


