@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', sans-serif;
}
body {
    background-color: #000000;
}
.sub-header {
    background: #111212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    box-shadow: 0 4px 10px -8px black;
}
.sub-header .sub-logo {
    cursor: pointer; 
} 
.sub-header .sub-logo img {
    height: 130px;
    width: auto;
    transition: all 0.3s;
}
.sub-header .sub-logo img:hover { 
    transform: scale(1.2);
} 
.sub-header .sub-nav-links {
    list-style: none;
}  
.sub-header .sub-nav-links li {  
    display: inline-block;
    padding: 0 20px; 
    transition: all 0.3s;     
}  
.sub-header .sub-nav-links li:hover {  
    transform: scale(1.1);  
}  
.sub-header .sub-nav-links a {
    font-size: 13px;
    color: #f2f2f2;
    text-decoration: none;    
}  
.sub-header .sub-btn button,
.sub-header .menu button  
{
  
    font-weight: 700;
    color: #000000;
    padding: 9px 25px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}  
.sub-header .sub-btn button:hover,
.sub-header .menu button:hover  
{  
    background-color: rgba(253, 21, 50, 0.7);
    color: #fff;
    transform: scale(1.1);  
}  
.sub-header a {  
    text-decoration: none;      
}   
.sub-header .overlay {   
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    background-color: rgba(101, 141, 234, .85);
    overflow: hidden;
    transition: all 0.3s ease 0s;   
}    
.sub-header .overlay .overlay-content {
    
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
}    
.sub-header .overlay a {    
    padding: 15px;
    font-size: 26px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #fff;   
}    
.sub-header .overlay a:hover, 
.sub-header .overlay a:focus {   
    color: #000000;    
}   
.sub-header .overlay .close {   
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;   
} 
.menu { 
    display: none;     
}
.container-text {
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
    margin-top: 40px;    
}
.container-text h1 {
    font-weight: bolder;
    color: rgba(253, 21, 50, 1);
    font-size: 42px;
    text-shadow: 0 0 10px rgba(253, 21, 50, 0.8); /* Color y desenfoque del resplandor */
    animation: neon 1s ease-in-out infinite alternate; /* Animación del parpadeo */
}
@keyframes neon {
    0% {
      text-shadow: 0 0 10px rgba(253, 21, 50, 1);   
    }
    100% {
      text-shadow: 0 0 20px rgba(253, 21, 50, 1), 0 0 30px rgba(253, 21, 50, 0.8);   
    }
}
.container-text p {
    font-weight: lighter;
    font-size: 14px;
}
.p5Canvas {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(41, 52, 179);
    animation: neonEffect 2s infinite alternate;
    z-index: 1;
}