* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 15%;
    background: transparent;
    background-color: #2C2F35;
}

.logo {
    color: #fff;
    font-size: 29px;
    font-weight: 700;
}

.log {
    height: 80px;
    vertical-align: middle;
}

.navbar {
    display: flex;

}

.navbar a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: #f5f5f5;
    transition: all .45s ease;
    border-radius: 5px;
}

.navbar a:hover {
    background: #04BD7D;
}

#menu-icon {
    font-size: 30px;
    z-index: 10001;
    color: #fff;
    cursor: pointer;
    display: none;
}

.header-btn a {
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.header-btn .login {
    background: #04BD7D;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
}

.header-btn .login:hover {
    border: 2px solid #04BD7D;
    background: transparent;
}

@media (max-width: 1530px) {
    header {
        padding: 18px 3%;
        transition: .2s;
    }
}


@media (max-width: 1070px) {
    header {
        padding: 12px 3%;
        transition: .2s;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #2C2F35;
        transition: all .50s ease;
        text-align: left;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.8rem;
    }

    .navbar.open {
        top: 100%;
    }
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #2C2F35;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box__footer .logof img {
    width: 120px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #04BD7D;
    font-weight: 700px;
}

.box__footer a {
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    main {
        margin-top: 108px;
    }

}



main {
    background: #a1a0a0;
    padding: 30px 40px;
    margin-top: 134px;
    margin-left: 15px;
    margin-right: 15px;
}

.en {
    text-align: center;
}



.sus{
    text-align: center;
}


.radio-section{
    display: flex;
    align-items: center;
    justify-content: center;

}
.radio-item [type="radio"]{
    display: none;
}

.radio-item + .radio-item{
    margin-top: 15px;
}
.radio-item label{
    display: block;
    padding: 20px 60px;
    background: #2C2F35;
    border:2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}
.radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #04BD7D;
    left: 20px;
    top: calc(50% - 12px);
}
.radio-item label:before{
    background: #04BD7D;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color: #04BD7D;
}

.radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.check-section{
    display: flex;
    align-items: center;
    justify-content: center;

}
.check-item [type="checkbox"]{
    display: none;
}

.check-item + .check-item{
    margin-top: 15px;
}
.check-item label{
    display: block;
    padding: 20px 60px;
    background: #2C2F35;
    border:2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}
.check-item label:after,
.check-item label:before{
    content: "";
    position: absolute;
    
}

.check-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #04BD7D;
    left: 20px;
    top: calc(50% - 12px);
}
.check-item label:before{
    background: #04BD7D;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.check-item [type="checkbox"]:checked ~ label{
    border-color: #04BD7D;
}

.check-item [type="checkbox"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}